= render "layouts/header"
.Wrapper
  -# .SideBar
  -#   .ContentsList
  -#     .Content
  -#       = link_to '#' do
  -#         .Content__title
  -#           記事名
  -#         .Content__data
  -#           記事の更新日時

  .MainArticles
    - @post.each do |post|
      .Article-body
        = link_to "/posts/#{post.id}", class: "url-stile",method: :get do
          .Article-body__Title
            = post.title
          .Article-body__Info
            .Article-body__Info--userName
              = post.user.nickname
            .Article-body__Info--data
              = post.created_at.to_s(:datetime_jp)
          .tag-table
            %ul.posts__left__group__post-tag
              = render 'posts/tag_list', tag_list: post.tag_list