.Header
  .Header__field
    .Header__root
      =link_to root_path do
        %p.title Medic
        = image_tag "ハート2.png", size: "50x50", alt: "アイコン", class: 'concent-logo'

    -# 検索部分
  .Header__search
    = form_with(url: "#", local: true, method: :get, class: "search-form") do |f|
      = f.text_field :keyword, placeholder: "     キーワードを入力", class: "search-input"
      %i.fas.fa-search
  

    -#  ユーザーがログインしているか調べる
  - if user_signed_in?
    .Header-user
      .Header-user__box
        %span.Header-user__username #{current_user.nickname} さん
      .Header-user__user-out
        = link_to "ログアウト", root_path, method: :delete, class: 'post'
    -#  ユーザーがログインしていなかった時の処理
  - else
    .Header-not-user
      .Header-not-user__signup
        = link_to "新規登録", new_user_registration_path, class: 'post', method: :get
      .Header-not-user__login
        = link_to "ログイン", new_user_session_path, class: 'post', method: :get


  .Header__Icon
    = link_to new_post_path, class: "Info" do
      .Header__Icon--edit
        投稿画面
        = icon('fas', 'edit')
    = link_to users_path, class: "Info" do
      .Header__Icon--user
        マイページ
        = icon('fas', 'cog')